.orgLogo{
	position: static;
	height: 23%;
	width: 23%;
    margin-right: auto;
    margin-left: auto;
	margin-top: 11%;
    display: block;
}
.progressBar{
	position: sticky;
	margin-top: 11%;
	width: 15%;
	margin-right: auto;
	margin-left: auto;
}
.presentationPage{
	display: block;
	background-color: rgb(255, 255, 255);
	padding: 10%;
	
}