

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}



.bk{
    background: linear-gradient(58deg, rgba(17, 138, 225, 0.43) 13.78%, rgba(22, 142, 229, 0.687012) 89.33%, rgba(28, 147, 234, 0.95) 107.25%);
}

.mainPageContent{
    
    position: relative;
    margin-left: 8%;
    
    width: 84.5%;
}
.dragAndDropOutsideContainer{
    position: relative;
    width: 72%;
    height:650px;
    border-radius: 5%;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 2.3%;
}
.dragAndDropContainer{
    background: #F9F7F7F2;
    width: 50%;
    height: 60%;
    border-radius:5%;
    border: 2px dashed #037ED7;
    position:absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.decorationComputerImage{
    position: absolute;
    width: 50%;
    bottom: 0;
    margin-bottom: -5%;
    margin-left: -15%;
}
.uploader{
    position: relative;
    width: 100%;
    
}
.decoContent{
    position: absolute;
    margin-top: -55%;
    margin-left: 28%;
}
.textInputContainer{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);     
    margin-top: 33%;                        
}
.lineBreak{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
    
}
.recommendationProcessImage{
    position: relative;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    margin-top: 17%;  
}
.copyrightText{
    position: relative;
    text-align: center;
    background: rgba(28, 147, 234, 0.7);
    margin-bottom: -10%;
}
.Nav{ 
  position: fixed;
  
}
.footerMainPage{
    position: relative;
    color: white;
    margin-top: -5%;
    
}
.footerImage{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.content-left {
    position: absolute;
    top: 0%;
    left: 3%;   
}

.content-left2 {
    position: absolute;
    top: 6%;
    left: 3%;
    margin-left: 105px;
    
      
}

.content-right {
    position: absolute;
    top: 25%;
    right: 5%;
    padding-right: 10%;
}
.mainPageBackground{
    margin: 2%;
    position: static;
    width: 95%;
    height: 630px;
    
}
.mainPageBackgroundText{
    width: 50%;
    text-align: justify;
    font-size: 23px;
    margin-left: 3%;
}
.mainPageBackgroundHeader{
    font-size: 60px;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 2.5%;
}
.mainPageGetStartedButton{
    margin-left: 3%;
    margin-top: 4%;
    
}

.content-right2 {
    position: absolute;
    top: 9%;
    right: 10%;
    
}
.mainPageImage{
    color: white;
}


