.commonbg{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(58deg, rgba(17, 138, 225, 0.43) 13.78%, rgba(22, 142, 229, 0.687012) 89.33%, rgba(28, 147, 234, 0.95) 107.25%);
    /* background-image: linear-gradient(113.86deg, #FFFFFF 19.97%, rgba(28, 147, 234, 0.95) 106.91%); */
}
.mainPageContent{
    position: relative;
}
.dragAndDropOutsideContainer{
    position: relative;
    width: 50%;
    min-height: 800px;
    border-radius: 5%;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 2%;
}
.dragAndDropContainer{
    background: #F9F7F7F2;
    width: 60%;
    border-radius:5%;
    border: 2px dashed #037ED7;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.decorationComputerImage{
    position: absolute;
    width: 50%;
    bottom: 0;
    margin-bottom: -5%;
    margin-left: -25%;
}
.uploader{
    position: relative;
    width: 100%;
    min-height: 480px;
}
.decoContent{
    position: absolute;
    margin-top: -55%;
    margin-left: 28%;
}
.textInputContainer{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    margin-top: 33%;                        
}
.lineBreak{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
}
.recommendationProcessImage{
    position: relative;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    margin-top: 12%;  
}
.copyrightText{
    position: relative;
    text-align: center;
    background: rgba(28, 147, 234, 0.7);
    margin-bottom: -10%;
}
.footerMainPage{
    position: relative;
    color: white;
    margin-top: -5%;
}
.footerImage{
    width: 100%;
    height:300px;
    opacity: 0.5;
}
.content-left {
    position: absolute;
    top: 5%;
    left: 3%;
}
.content-right {
    position: absolute;
    top: 25%;
    right: 5%;
}
.mainPageBackground{
    margin: 2%;
    position: relative;
    width: 96%;
    height: 900px;
}
.mainPageBackgroundText{
    width: 50%;
    text-align: justify;
    font-size: 30px;
    margin-left: 3%;
}
.mainPageBackgroundHeader{
    font-size: 80px;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}
.mainPageGetStartedButton{
    margin-left: 3%;
    margin-top: 5%;
}
.content-right2 {
    position: absolute;
    top: 18%;
    right: 10%;
}