.body{
  text-align: center;
  margin-top: 2%;
}
.signButtons {
  background-color: transparent;
  border-color: transparent;
  padding-left: 10%;
  padding-right: 10%;
}
.headerContent{
  padding: 5%;
}
.activeType{
  color: black;
  text-decoration: underline solid rgb(17, 131, 214,1) 5px;
  text-underline-offset: 40%;
}
.notActiveType{
  color: grey;
}
.contentBody{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10%;
}
