.text{
    margin-top: 0%;
    opacity:0.1;
}

.Activetext{
    margin-top: 5%;
}

.name{
    color: black;
    padding-top: 5%;;
}

.aboutUsTopic{
    text-align: center;
    position: relative;
    left: 100;
    right:100;
    margin-top: 3%;
    margin-bottom: 2%;
    padding:-10%;
    margin-left: 4%;
    margin-right: 3%;
    color:white;
}


.aboutUsContent{
    text-align: center;
    padding-top: 50%;
    position: relative;
    left: 100;
    right:100;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1%;
    margin-left: 1%;
    margin-right: 32;
    padding: auto;
}

.Ourstory{
    position: fixed;
    margin-top: -4%;
    text-align: left;
}

.container1{
    text-align: justify;
    width: 100%;
    position: relative;
    left: 100;
    right:100;
    margin-top: 1%;
    margin-bottom: -1%;
    border-bottom: black solid 1px;
    margin-left: -0.5%;
    margin-right: -0.7%;
    width: auto;
    height: auto;
    color: black;
    padding: 2%;
    opacity: 5;
    font-size: 17px;
}

.container2{
    text-align: justify;
    left: 10;
    right:100;
    margin-top: -3%;
    margin-bottom: -5%;
    margin-left: -0.9%;
    margin-right: -0.8%;
    color: black;
    padding: 50px;
    opacity: 5;
    top: 0;
    font-size: 17px;
}

.profiles{
    justify-content: space-around;
    margin: auto;
    display:flex;
    padding-top: 57%;
}

.Image{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;    
}

.ActiveImage{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(0%);
    cursor: pointer;
    transition: 400ms;    
}


.Image:hover{
    filter: grayscale(0%);
}

.bground {
    height: 20%;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    /* padding-top: 2%; */
    position: relative;
    margin-top:-5%;
}

.desc{
    text-align: center; 
}

.para{
    color: black;
}

.item{
    color: black;
}

.bgr{
    background-image: linear-gradient(113.86deg, #FFFFFF 19.97%, rgba(28, 147, 234, 0.95) 106.91%);
}