.eachQuery{
    width: 50%;
    padding-bottom: 2%;
    margin-left:45%;
    margin-top: 2%;
}

.createPost{
    position: fixed;
    width: 30%;
    top: 10%;
    margin-left: 5%;
}
.button{
    padding-bottom: 1%;
}
.buttonsinside{
    margin-left: -1%;
}
.commonOppBg{
    height: 100%;    
    position: fixed;   
    width: 100%;   
    overflow: hidden;
    background: linear-gradient(58deg, rgba(17, 138, 225, 0.43) 13.78%, rgba(22, 142, 229, 0.687012) 89.33%, rgba(28, 147, 234, 0.95) 107.25%);
}
.loading{
    opacity: 0.5;
    pointer-events: none;
}
.loadingCircle{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}