.feedbackButton{
    position: fixed;
    margin-right: 0;
    margin-left: 94%;
    right: 0;
    top: 40%;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}
.feedbackTopic{
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    font-family: calibri;
    color: rgb(17, 131, 214,1);
    
    
}

