.backToLoginButton{
    position: fixed;
    bottom: 10px;
}
.techContainer{
    text-align: center;    
}
.commonBg{
    position: fixed;
    min-width: 100%;
    margin-top:-3.7%;
    height:100%;
    background-image: linear-gradient(113.86deg, #FFFFFF 19.97%, rgba(28, 147, 234, 0.95) 106.91%);
}
